# Dependencies
node_modules/
**/node_modules/

# Build artifacts
build/
dist/
**/dist/
backend-dist/
.next/
**/.next/

# Local Environment Variables
.env
.env.*
!.env.example
!**/.env.example
.vercel

# Misc
coverage/
**/coverage/
uploads/temp/
**/uploads/temp/
.DS_Store
*.log
