# Dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Build artifacts
build/
dist/
backend/dist/
frontend/dist/
backend-dist/
.next/

# Local Environment Variables
.env
.env.*
!.env.example
backend/.env
frontend/.env.local
.vercel

# Misc
coverage/
.DS_Store
*.log
